@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --background: #f0f9ff; /* coastal-50 */
  --foreground: #082f49; /* coastal-950 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
